<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/css/Normalice.css" />
    <link rel="stylesheet" href="/src/css/estilos.css" />
    <link rel="stylesheet" href="/src/css/CajaComen.css" />
    <link rel="stylesheet" href="/src/css/estiloProg.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="/src/img/Waifu.jpg">
    <link rel="stylesheet" href="/src/css/Header.css"> 
</head>

<body>
    <header>
        <%- include("partials/Header") %>
        <%- include("partials/CajaComen.ejs") %>

    <div class="imagen"> </div>

    <div class="About-us sombra" id="Caja">

        <section class="About-us-Titulo H1 Espacio" id="Titulo">
            Déjanos tu experiencia aquí
        </section>

        <div id="Formulario-Info">
            <label class="Espacio"  style="margin-top:7px;">Nombre</label>
            <label class="Espacio" style="margin-top:7px;">Correo Electronico</label>
            <label class="Espacio" style="margin-top:7px;">Telefono</label>
            <label class="Espacio" style="margin-top:7px;">Comentario</label>
        </div>

        <div id="Formulario-Rellenar" >
                    <form name="Caja-Comentario">
                        <div class="Espacio" >
                            <input type="text" class="Respuesta" name="Nombre" placeholder="Nombre..." id="Nombre">
                        </div>

                        <div class="Espacio">
                            <input type="text" class="Respuesta" name="Email" placeholder="Email..." id="Email">
                        </div>

                        <div class="Espacio">
                            <input type="text" class="Respuesta" name="Telefono" placeholder="Telefono..." id="Telefono">
                        </div>

                        <div class="Espacio">
                            <textarea class="Respuesta Comentario" name="Mensaje" placeholder="Comentario..." id="Comentario"></textarea>
                        </div>

                        <div id="Formulario-Boton">
                            <input type="reset" name="Limpiar" class="Boton" value="Borrar">
                            <input type="submit" name="Mensaje" value="Enviar" class="Boton" id="Enviar">
                        </div>
                        </form>
        </div>

        <div class="Informacion">
            <h1 class="H1">Contactanos!</h1>
            <ul>
                <li>Número Telefonico: <br> <p>+52 ###-###-####</p></li>
                <li>Correo Electronico: <br> <p> Ejemplo@Gmail.com</p></li>
                <li>Facebook: <br> <p>Ejemplo.com</p> </li>
            </ul>
        </div>
    </div>
      
    <div class="loader"></div>
</body>
<script src="/src/js/Buscador.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

</html>