<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programacion</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <%- include("partials/estiloProg.ejs") %>
    <%- include("partials/Header") %>
    
</head>

<body>
    <div class="loader"></div>
    <div class="Container">
        <header class="Inicio FondoHeader"id="HeaderProg">
            <div class="header" >
                <div class="logo">
                    <h1><b id="Logo1">Waifu.Net</b></h1>
                </div>
                <div class="menu Barra-Laretal-Prog" id="show-menu">
                    <nav>
                        <ul>
                            <li class="BotonBusqueda" ><a href="/Index.html"> Inicio</a></li>
                            <li class="BotonBusqueda"><a href="/Catalogo/Pestaña.html"></i>Catalogo</a></li>
                            <li class="BotonBusqueda"><a href="/Caja-Comentarios/Pestaña.html"></i>Caja de comentarios</a></li>
                            <li class="BotonBusqueda"><a href="/Mandar-Info/Pestaña.html"> Guardar Informacion</a></li>
                        </ul>
                    </nav>
                </div>
    
                <div id="Icono-Buscar">
                    <i class="fas fa-search" id="funcion-buscar"></i>
                </div>
            </div>
    
            <div id="Barra-Lateral" class="Barra-Laretal-Prog">
                <i class="fas fa-bars"></i>
            </div>
        </header>

        
    <div id="Mostrar-Busqueda">
        <input type="text" id="BuscarPalabra" placeholder="¿Qué deseas buscar?">
    </div>

    <ul id="Sugerencias">
        <li><a href="articulo.html"><i class="fas fa-search"></i>HTML</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>CSS</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>Programacion</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>Medicina</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>¿Qué son las redes?</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>Fundamentos de Matematicas </a></li>
        <li><a href="/Programacion/Pestaña_Programacion.html"><i class="fas fa-search"></i>Java</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>Cisco</a></li>
    </ul>

    <div id="Funcion-Buscador"></div>

    <div class="container-all" id="move-content">

        </div>

        <div class="Temas">
            <a class="Temas-Mostrar" href=""> Inicio </a>
            <a class="Temas-Mostrar" href=""> Tema 1 </a>
            <a class="Temas-Mostrar" href=""> Tema 2 </a>
            <a class="Temas-Mostrar" href=""> Tema 3 </a>
            <a class="Temas-Mostrar" href=""> Tema 4 </a>
            <a class="Temas-Mostrar" href=""> Tema 5 </a>
        </div>

        <div class="Contenido Fondo">
            <div class="Saludo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                <br> <br> <br>
                ¡Contactanos! <br>
                Número de telefono: 111111111 <br>
                Pág. Facebook: 1111111 <br>
                
            </div>
        </div>
    </div>


</body>
<script src="/js/Buscador.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

</html>